<div class="container">
  <div class="row">

    <div class="center-block">

    </div>
    <h1 class="text-center">ここはオタク収納があふれかえるサイト・・・</h1>
    <h1 class="text-center">ここで沢山の出会いをしてください！</h1>

  </nav>
</nav>